*{
    margin: 0;
    padding: 0;
}
html{
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    color: #5a5a5a;
}
.color-pink{
    color: #ed145b;
}
.color-white{
    color: #fff;
}
.color-black{
    color: #000;
}
.backgroup-pink{
    background-color: #ed145b;
}
.background-grey{
    background-color: #5a5a5a;
}
.background-grey-light{
    background-color: #f4f4f4;
}
.background-white{
    background-color: #fff;
}
.background-black{
    background-color: #000;
}
.no-background{
    background: transparent !important;
}
.site-padding{
    padding: 0px 15px;
}
.show-more{
    padding: 20px 55px;
    background-color: #ed145b;
    font-size: 15px;
    border: none;
    border-radius: 50px;
}
.navbar-dark .navbar-toggler{
    border-color: #fff;
}

.header{
    background: url('../images/baner.jpg') no-repeat center center;
    background-size: cover;
    height: calc(100vh - 25px);
    margin-bottom: 25px;
    position: relative;
}
.header::after{
    position: absolute;
    content: "";
    width: 100%;
    bottom: -25px;
    height: 0;
    border-top: 25px solid #ed145b;
    border-right: 100vw solid #f4f4f4;
}
.navbar-dark .navbar-nav .active>.nav-link{
    color: #ed145b;
}
.navbar-dark .navbar-nav .nav-link {
    color: #fff;
    font-size: 16px;
}
.banner{
    height: calc(100vh - 140px);
    padding: 50px;
}
.banner h1{
    font-size: 46px;
    font-weight: 100;
}
.underline-center, .underline-left{
    position: relative;
}
.underline-center::after{
    content: '';
    height: 2px;
    position: absolute;
    bottom: -25px;
    left: 30%;
    width: 40%;
    background: #ed145b;
}

.underline-left::after{
    content: '';
    height: 2px;
    position: absolute;
    bottom: -25px;
    left: 0;
    width: 40%;
    background: #ed145b;
}
.banner p, .service p{
    font-size: 22px;
    font-weight: 100;
}
.service h2{
    font-size: 38px;
    font-weight: 400;
}

@media only screen and (min-width: 768px){
    .mac-img{
        position: absolute;
        right: -4%;
        bottom: -3%;
    }
}

@media only screen and (max-width: 425px) {
    .show-more{
        padding: 15px 35px;
        background-color: #ed145b;
        font-size: 13px;
        border: none;
        border-radius: 50px;
    }

    .banner h1{
        font-size: 26px;
        font-weight: 100;
    }

    .banner p, .service p{
        font-size: 13px;
        font-weight: 100;
    }

    .service h2{
        font-size: 22px;
        font-weight: 400;
    }

}

@media only screen and (max-width: 768px) {
    .banner p, .service p{
        font-size: 12px;
        font-weight: 100;
    }

    .service h2{
        font-size: 18px;
        font-weight: 100;
    }
}
